<%= form_for(@worktype) do |f| %>
  <% if @worktype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worktype.errors.count, "error") %> prohibited this worktype from being saved:</h2>
      <ul>
        <% @worktype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Название' %><br>
    <%= f.text_field :name, autofocus: true, required: true, class: 'form-control', placeholder: 'Название специальности' %>
  </div>
  <div class="form-group">
    <%= f.label 'Описание' %><br>
    <%= f.text_field :description, autofocus: true, required: true, class: 'form-control', placeholder: 'Описание' %>
  </div>
  <div class="form-group">
    <%= f.label 'Описание для "услуги"' %><br>
    <%= f.text_field :descr, autofocus: true, required: true, class: 'form-control', placeholder: 'Описание' %>
  </div>
   <div class="form-group">
    <%= f.label 'Сроки' %><br>
    <%= f.text_field :terms, autofocus: true, required: true, class: 'form-control', placeholder: 'Сроки' %>
  </div>
   <div class="form-group">
    <%= f.label 'Цена' %><br>
    <%= f.text_field :price, autofocus: true, required: true, class: 'form-control', placeholder: 'Цена' %>
  </div>
  <div class="form-group">
    <%= f.label 'Заголовок страницы (html)' %><br>
    <%= f.text_field :title, autofocus: true, required: true, class: 'form-control', placeholder: 'Название страницы' %>
  </div>
  <div class="form-group">
    <%= f.label 'Описание (meta description)' %><br>
    <%= f.text_field :mdescription, autofocus: true, required: true, class: 'form-control', placeholder: 'Описание meta' %>
  </div>
   <div class="form-group">
    <%= f.label 'Порядковый номер' %><br>
    <%= f.text_field :order, autofocus: true, required: true, class: 'form-control', placeholder: 'Порядковый номер' %>
  </div>
  <div class="form-group">
    <%= f.label "Отображать" %><br>
    <%= f.check_box :show%><br>
  </div>
  <%= f.button "Сохранить", class: 'btn btn-primary' %>
  <%= link_to 'В каталог', worktypes_path, class: 'btn btn-default' %>
<% end %>
