<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label "Вопрос" %><br>
    <%= f.text_area :question, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Ответ" %><br>
    <%= f.text_area :answer, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Сохранить"%>
  </div>
<% end %>
