<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
  <div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+375 (29)</span> 111 11 11</a>
      <p class="skype">skype: <a href="skype:RedStudent" class="skype_link">RedStudent</a></p>
    </div>    
  </div>
  <!-- =/floatcontacts -->
 <div class="main">
    <div class="container">
      <h1>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h1>
      <div class="intro">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, ased diam nonumy eirmod tempor invidunt ut labore et adolore magna aliquyam erat, sed diam voluptua. At avero eos et accusam et justo duo dolores et ea rebum. aStet clita kasd gubergren, no sea takimata sanctus est aLorem ipsum dolor sit amet.</p>
      </div>
      <div class="faqList">
      <% @questions.each do |question| %>
        <div class="question">
          <div class="title_red">Вопрос</div>
          <div class="text"><%=question.question%></div>
        </div>
        <div class="answer">
          <div class="title_green">Ответ: </div>
          <div class="text"><%=question.answer%></div>
        </div>  
       <% if current_user %>
        <% if "Admin".include? current_user.role %>
          <%= link_to 'Изменить', edit_question_path(question) %>
          <%= link_to 'Удалить', question, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <%end%>
      <%end%>
    <% end %>
    
      </div>
      <%= will_paginate @questions, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<br>
<% if current_user %>
 <% if "Admin".include? current_user.role %>
  <%= link_to 'Добавить', new_question_path %>
 <%end%>
<%end%>     
    </div>
  </div>  
  <!-- =/bottom -->

</div>
 <%= render 'footer' %>





