<% content_for :head do %>
<title><%= @ques.title%></title>
<meta name ="<%= @ques.description%>">
<%end%>
<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'welcome/header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
<div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
  <!-- =/floatcontacts -->
 <div class="main">
    <div class="container">
      <h1>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h1>
      <div class="faqList">
      <% @questions.each do |question| %>
        <div class="question">
          <div class="title_red">Вопрос</div>
          <div class="text"><%=question.question%></div>
        </div>
        <div class="answer">
          <div class="title_green">Ответ: </div>
          <div class="text"><%=question.answer%></div>
        </div>  
       <% if current_user %>
        <% if "Admin".include? current_user.role %>
          <%= link_to 'Изменить', edit_question_path(question) %>
          <%= link_to 'Удалить', question, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <%end%>
      <%end%>
    <% end %>
    
      </div>
      <%= will_paginate @questions, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<br>
<% if current_user %>
 <% if "Admin".include? current_user.role %>
  <%= link_to 'Добавить', new_question_path %>
 <%end%>
<%end%>     
    </div>
  </div>  
  <!-- =/bottom -->

</div>
 <%= render 'welcome/footer' %>





