<div class="well well-sm" id=<%= message.id %>>
  <div class="media">
    <div class="media-left media-middle">
      <span class="glyphicon <%= message.sender.glyphicon %>" aria-hidden="true"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <span class="<%= message.sender.text_style %>"><%= message.sender.role %> </span>
        <span class="text-muted glyphicon glyphicon-hand-right" aria-hidden="true"></span>
        <span class="<%= message.receiver.text_style %>"><%= message.receiver.role %> </span>
        | <span class="text-muted"><%= message.created_at.strftime("%d.%m.%Y %H:%M") %> </span>
      </h4>
      <% css_class = "text-muted" unless message.approved? %>
      <p class=<%= css_class %> id="message_content_print"><%= message.content.html_safe %></p>
    </div>
  </div>
</div>
