<div class="outerwrapper">
<%= render 'welcome/header' %>
 <div class="main">

  <div class="container">
    <div class="my-block">
      <% role = params[:role] || resource.role.downcase %>
      <% if User::ROLES.include?(role) %>
        <h1 class="text-center">Регистрация</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
            <div class="form-group col-md-5 required">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, required: true, class: 'form-control', placeholder: 'Контактный email' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5 required">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> символов минимум)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control', placeholder: 'Пароль'%>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5 required">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'form-control', placeholder: 'Подтверждение пароля' %>
            </div>
          </div>
          <%= render partial: role, locals: { f: f } %>
          <br>
          <%= f.hidden_field :role, value: role.capitalize %>
          <div class="row">
            <div class="form-group col-md-5">
              <%= f.button "Зарегистрироваться", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= render 'welcome/footer' %>
