<%= form_for(@seo) do |f| %>
  <% if @seo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seo.errors.count, "error") %> prohibited this seo from being saved:</h2>

      <ul>
      <% @seo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Название страницы' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Описание html' %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Заголовок' %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
