<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'welcome/header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
  <div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>

  <div class="main">
    <div class="container">
      <h1>СЕО</h1>
     <p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Название страницы</th>
      <th>Описание (html)</th>
      <th>Заголовок страницы</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seos.each do |seo| %>
      <tr>
        <td><%= seo.name %></td>
        <td><%= seo.description %></td>
        <td><%= seo.title %></td>
      
        <td><%= link_to 'Редактировать', edit_seo_path(seo) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>




    </div>
  </div>

  </div>
  <!-- =/floatcontacts -->
 <%= render 'welcome/footer' %>



