<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stock.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @stock.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stock.date %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
