<div id="specialities">
  <div class="row">
    <div class="col-md-5">
      <%= f.label :speciality %>
    </div>
    <div class="col-md-6">
      <%= f.label :subspeciality %>
    </div>
  </div>
  <% if @user.try(:speciality) %>
    <% @user.speciality.each do |sp| %>
      <% subsp = sp.subspecialities.joins('join subspecialities_users on subspecialities.id = subspecialities_users.subspeciality_id').where('subspecialities_users.employee_id = ?', @user.id) %>
      <% unless subsp.empty? %>
        
          <div class="row" id="<%= "speciality_1000#{sp.id}" %>">
            <div class="form-group col-md-5">
              <select name="user[speciality_ids][]" class="form-control speciality_select" required>
                <option value="">Выберите специализацию</option>
                <%= options_from_collection_for_select(@specialities, :id, :name, sp.id) %>
              </select>
            </div>
            <div class="form-group col-md-6">
              <select multiple required name="user[subspeciality_ids][]" class="form-control subspeciality_select">
                <option value="" id="subspeciality_prompt">Выберите подспециализацию(зажмите ctrl для выбора несокльких)</option>
                <%= options_from_collection_for_select(sp.subspecialities, :id, :subspeciality, @user.subspeciality_ids) %>
              </select>
            </div>
            <div class="col-md-1">
              <a class="btn btn-default delete_speciality"><span class="glyphicon glyphicon-minus"></span></a>
            </div>
          </div>
      <% else %>
        <div class="row" id="<%= "speciality_1000#{sp.id}" %>">
          <div class="form-group col-md-5">
            <select name="user[speciality_ids][]" class="form-control speciality_select">
              <option value="">Выберите специализацию</option>
              <%= options_from_collection_for_select(@specialities, :id, :name, sp.id) %>
            </select>
          </div>
          <div class="form-group col-md-6">
            <select multiple name="user[subspeciality_ids][]" class="form-control subspeciality_select">
              <option value="" id="subspeciality_prompt">Выберите подспециализацию</option>
              <%= options_from_collection_for_select(sp.subspecialities, :id, :subspeciality, "@user.subspeciality.first.id") %>
            </select>
          </div>
          <div class="col-md-1">
            <a class="btn btn-default delete_speciality"><span class="glyphicon glyphicon-minus"></span></a>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="row" id="speciality_1">
      <div class="form-group col-md-5">
        <select name="user[speciality_ids][]" class="form-control speciality_select">
          <option value="">Выберите специализацию</option>
          <%= options_from_collection_for_select(@specialities, :id, :name) %>
        </select>
      </div>
      <div class="form-group col-md-6">
        <select name="user[subspeciality_ids][]" class="form-control subspeciality_select">
          <option value="" id="subspeciality_prompt">Выберите подспециализацию</option>
          <%= options_from_collection_for_select(@subspecialities, :id, :subspeciality) %>
        </select>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4">
    <%= link_to users_add_speciality_path, id: 'add_speciality', class: 'btn btn-primary', remote: true do %>
      <span class="glyphicon glyphicon-plus"></span> Добавить специальность</a>
  </div>
</div>
<% end %>
