<div class="outerwrapper">
<%= render 'welcome/header' %>

 <div class="main">

<section class="HeroSection SmallPageSection">
  <div class="container">
    <div class="my-block">
      <p id="notice"><%= notice %></p>
       <h1 class="text-center">Забыли пароль?</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="col-xs-4">
           <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.button "Восстановить пароль", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <br>
      <div class="row">
        <div class="col-md-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<%= render 'welcome/footer' %>
