<header class="header">
    <div class="container">
      <div class="mainnav pull-left ">
        <!-- =nav -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Навигация</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Red<span>Student</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul>
              <li>
                <a href="/service" title=""><%= @service.name if @service%></a>
		          <ul>
		            <% @worktypes.each do |w| %>
                  <% if w.show %>
		                <li><a href="/worktypes/<%=w.id%>" title=""><%= w.name%></a></li>
	  	            <%end%>
                <%end%>
                 <li><a href="/service" title="">Другие работы</a></li>
	  	        </ul>
              </li>
              <li>
                <a href="/conditions" title="">Клиентам</a>
                <ul>
                  <li><a href="/conditions" title=""><%= @condition.name if @condition%></a></li>
                  <li><a href="/pay" title=""><%= @pay.name if @pay%></a></li>
                  <li><a href="/advantages" title=""><%= @advantage.name if @advantage%></a></li>
                  <li><a href="/guarantees" title=""><%= @g.name if @g%></a></li>
                  <li><a href="/stocks" title=""><%= @act.name if @act%></a></li>
                  <li><a href="/questions" title=""><%= @ques.name if @ques%></a></li>
                </ul>
              </li>
              <li>
                <a href="#" title="">О компании</a> 
                <ul>
                  <li><a href="/feedbacks" title=""><%= @feed.name if @feed%></a></li>
                  <li><a href="/news" title=""><%= @ne.name if @ne%></a></li>
                  <li><a href="/vacancies" title=""><%= @vacancy.name if @vacancy%></a></li>
                  <li><a href="/partners" title=""><%= @partner.name if @partner%></a></li>
                  <li><a href="/authors" title="">Авторам</a></li>
                </ul>
              </li>
              <li>
                <a href="/contacts" title=""><%= @contact.name if @contact%></a>
              </li>
              <% if current_user %>
                <% if "Admin".include? current_user.role %>
                  <li>
                    <a href="/galleries" title="">Галлерея</a>
                  </li>
                   <li>
                    <a href="/seos" title="">СЕО</a>
                  </li>
                <%end%>
              <%end%>
              <li  class="pull-right"><% if user_signed_in? %>
                <% else %>
                <a href="/users/sign_up/client" title="">Регистрация</a>
              
                <% end %>
              </li>
            </ul>

          </div>
        </nav>
        <!-- =/nav -->
      </div>

      <!-- =auth -->
      <div class="auth-cost">
        <% if user_signed_in? %>
          <%= link_to('Выйти', destroy_user_session_path, method: :delete, class: "in") %>
           <a href="/dashboard" class="to-cost"  data-target="#modalorder">Личный кабинет</a>
        <% else %>
          <%= link_to('Войти', new_user_session_path, class: "in")  %>
          <a href="#" class="to-cost" data-toggle="modal" data-target="#modalorder">Узнать стоимость</a>
        <% end %>
       
      </div>
      <!-- =/auth -->
    </div>
  </header>
