<div class="outerwrapper">
<%= render 'header' %>
<div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+375 (29)</span> 111 11 11</a>
      <p class="skype">skype: <a href="skype:RedStudent" class="skype_link">RedStudent</a></p>
    </div>    
  </div>
  <!-- =/floatcontacts -->
  
  <!-- InstanceBeginEditable name="EditRegion3" -->
  <!-- =neck -->
  <div class="neck">
    <div id="foo1">
      <div class="slide">
        <div class="container">
          <div class="slide__title text-center">УНИКАЛЬНЫЕ СТУДЕНЧЕСКИЕ РАБОТЫ: КОНТРОЛЬНЫЕ, КУРСОВЫЕ, ДИПЛОМНЫЕ И ДРУГИХ</div>
          <div class="slide__content row">
            <div class="col-sm-6 col-xs-12">
              <div class="box">
                <div class="title">С 15 февраля по 15 марта скидки 15% всем новым клиентам в честь 10 –ти летия компании.</div>
                <p>Также командой Редстудент разработана уникальная для России система скидок : при заказе
одновременно 2-х любых работ Вы получаете скидку 20%, при заказе 3-х работ – 25%, 5-ти работ – 30% на каждую работу. Редстудент, прояви инициативу – чем больше друзей, тем больше экономия!</p>
                <a href="#" class="more btn btn_white">Узнать подробнее об акции</a>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12"> 
               <% if !current_user || current_user.role == 'Client'  %>
              <div class="form">
                <%= render 'welcome/form' %>
              </div>
               <% else %>
                <p class="text-center">Чтобы создать заказ, вы должны быть залогинены как клиент.</p>
               <% end %> 
            </div>
          </div>          
        </div>
      </div>    
    </div>
  </div>
  <!-- =/neck -->

  <!-- =service -->
  <section class="service">
    <div class="container">
      <header class="text-center">
        <h1>УСЛУГИ И ЦЕНЫ</h1>
      </header>
      <div class="table-responsive">
        <table class="table table_works">
          <tr>
            <th>Типы работ</th>
            <th>Сроки</th>
            <th>Стоимость, руб.</th>
            <th class="text-center">Заказать</th>
          </tr>
          <tr>
            <td>Диссертация</td>
            <td>от 12 дней</td>
            <td>от 11 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr>
            <td>Дипломная работа</td>
            <td>от 9 дней</td>
            <td>от 9 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr>
            <td>Курсовая работа</td>
            <td>от 3 дней</td>
            <td>от 10 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr>
            <td>Контрольная работа</td>
            <td>от 7 дней</td>
            <td>от 3 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr>
            <td>Реферат</td>
            <td>от 2 дней</td>
            <td>от 15 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr>
            <td>Другие работы</td>
            <td>от 2 дней</td>
            <td>от 15 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr class="hide">
            <td>Реферат</td>
            <td>от 2 дней</td>
            <td>от 15 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <tr class="hide">
            <td>Другие работы</td>
            <td>от 2 дней</td>
            <td>от 15 000 руб.</td>
            <td class="text-center"><a href="#" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>         
        </table>
      </div>
      <a href="#" class="more btn btn_green">Полный список</a>
    </div>
  </section>
  <!-- =/service -->

  <div class="line"></div>

  <!-- =steps -->
  <section class="steps steps_row container text-center">
    <header>
      <h1>ВСЕ ОЧЕНЬ ПРОСТО!</h1>
    </header>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step1.gif' %>
        </div>
        <h4><span>1.</span> Закажите работу</h4>
        <p>Сделать это можно с помощью формы заказа, по телефону или одном из наших офисов в Москве или Санкт-Петербурге</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step2.gif' %>
        </div>
        <h4><span>2.</span> Внесите предоплату</h4>
        <p>Чтобы ваш заказ был отправлен в работу, нужно внести предоплату. Реквизиты вы найдете в разделе «Способы оплаты»</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step3.gif' %>
        </div>
        <h4><span>3.</span> Дождитесь выполнения </h4>
        <p>Статус своего заказа вы можете узнать, зайдя в раздел «Личный кабинет» на нашем сайте либо связавшись с вашим менеджером</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step4.gif' %>
        </div>
        <h4><span>4.</span> Скачайте заказ</h4>
        <p>Как только менеджер уведомит вас о готовности работы, вам нужно будет внести оставшуюся часть оплаты. После этого вы сможете скачать готовую работу в личном кабинете</p>
      </div>
    </div>
  </section>
  <!-- =/steps -->

  <!-- =advantages -->
  <section class="advantages advantages_gray text-center">
    <div class="container">
      <header>
        <h1>Преимущества</h1>
      </header>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-1.png' %>
          Сроки выполнения от 1 дня
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-2.png' %>
          Персональный менеджер для каждого клиента
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-3.png' %>
          Стоимость работы от 69 руб. за лист
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-4.png' %>
          Более 70% уникального текста
        </div>
      </div>
      <div class="block-center">
        <a href="service" title="" class="btn btn_red">Узнать стоимость</a>
      </div>
    </div>    
  </section>
  <!-- =/advantages -->
    
  <!-- InstanceEndEditable -->  

 <!-- =bottom -->
  <div class="bottom container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="title">Новости</div>
        <div class="box">
          <%= image_tag 'new.jpg', class: "img-responsive" %>
          <% if @news %>
            <div class="title_red"><a href="#"><%=@news.title%></a></div>
            <p><%=@news.text%></p>
            <p class="date"><%=@news.created_at.to_s(:db)%></p>
          <%end%>
        </div>
        <a href="news" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">вопрос / ответ</div>
        <div class="box">
         <% if @question %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question.answer%></p>
        <%end%>
        </div>
        <a href="questions" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">Отзывы</div>
        <div class="box">
         <% if @feedback %> 
          <div class="title_red"><%=@feedback.name%></div>
          <p><%=@feedback.feedback%></p>
          <div class="date"><%=@feedback.created_at.to_s(:db)%></div>
          <%end%>
        </div>
        <a href="feedbacks" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
    </div>
  </div>
  <!-- =/bottom -->
</div>
  </div>
  <%= render 'footer' %>