<div class="outerwrapper">
<%= render 'header' %>
<div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
  <!-- =/floatcontacts -->
  
  <!-- InstanceBeginEditable name="EditRegion3" -->
  <!-- =neck -->
  <div class="neck">
    <div id="foo1">
      <div class="slide">
        <div class="container">
          <div class="slide__title text-center">УНИКАЛЬНЫЕ СТУДЕНЧЕСКИЕ РАБОТЫ: КОНТРОЛЬНЫЕ, КУРСОВЫЕ, ДИПЛОМНЫЕ И ДРУГИХ</div>
          <div class="slide__content row">
            <div class="col-sm-6 col-xs-12">
              <div class="box">
                <div class="title"><%=@stock.title%></div>
                <p><%=raw @stock.text%></p>
                <a href="/stocks" class="more btn btn_white">Узнать подробнее об акции</a>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12"> 
               <% if !current_user || current_user.role == 'Client'  %>
              <div class="form">
                <%= render 'welcome/form' %>
              </div>
               <% else %>
                <p class="text-center">Чтобы создать заказ, вы должны быть залогинены как клиент.</p>
               
               <% end %> 
            </div>
          </div>          
        </div>
      </div>    
    </div>
  </div>
  <!-- =/neck -->

  <!-- =service -->
  <section class="service">
    <div class="container">
      <header class="text-center">
        <h1>УСЛУГИ И ЦЕНЫ</h1>
      </header>
      <div class="table-responsive">
        <table class="table table_works">
          <tr>
            <th>Типы работ</th>
            <th>Сроки</th>
            <th>Стоимость, руб.</th>
            <th class="text-center">Заказать</th>
          </tr>
          <% @worktypes.each do |worktype| %>
            <% if worktype.show %>
            <tr>
            <td><%= worktype.name%></td>
            <td><%= worktype.terms%></td>
            <td><%= worktype.price%></td>
            <td class="text-center"><a href="/worktypes/<%=worktype.id%>" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
            </tr>
            <%else%>
            <tr class="hide">
            <td><%= worktype.name%></td>
            <td><%= worktype.terms%></td>
            <td><%= worktype.price%></td>
            <td class="text-center"><a href="/worktypes/<%=worktype.id%>" class="buy" title=""><%= image_tag 'buy.png' %></a></td>
          </tr>
          <%end%>
          <%end%>
        </table>
      </div>
      <a href="#" class="more btn btn_green">Полный список</a>
    </div>
  </section>
  <!-- =/service -->

  <div class="line"></div>

  <!-- =steps -->
  <section class="steps steps_row container text-center">
    <header>
      <h1>ВСЕ ОЧЕНЬ ПРОСТО!</h1>
    </header>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step1.gif' %>
        </div>
        <h4><span>1.</span> Закажите работу</h4>
        <p>Оформляете заказ по телефону или через форму заказа на сайте</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step2.gif' %>
        </div>
        <h4><span>2.</span> Внесите предоплату</h4>
        <p>Вносите 25 % предоплату</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step3.gif' %>
        </div>
        <h4><span>3.</span> Дождитесь выполнения </h4>
        <p>Вам высылается часть работы для ознакомления</p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="item">
        <%= image_tag 'step4.gif' %>
        </div>
        <h4><span>4.</span> Скачайте заказ</h4>
        <p>Оплачиваете оставшуюся стоимость и получаете готовую работу</p>
      </div>
    </div>
  </section>
  <!-- =/steps -->

  <!-- =advantages -->
  <section class="advantages advantages_gray text-center">
    <div class="container">
      <header>
        <h1>Преимущества</h1>
      </header>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-1.png' %>
          Личное общение с автором . 
Общение с автором работы происходит в режиме online в личном кабинете. 
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-2.png' %>
          Персональный менеджер.
Ваш персональный менеджер всегда на связи и лично контролирует процесс выполнения заказа.
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-3.png' %>
          Отличные цены
Самые низкие цены в России! Постоянным клиентам скидки
        </div>
        <div class="col-sm-3 col-xs-12">
          <%= image_tag 'aicon-4.png' %>
         Высокое качество 
Все работы пишут лучшие преподаватели Вузов. Уникальность работ от 70%
        </div>
      </div>
     <div class="block-center">
        <a href="#" title="" class="btn btn_red" data-toggle="modal" data-target="#modalorder">Узнать стоимость</a>
      </div>
    </div>    
  </section>
  <!-- =/advantages -->
    
  <!-- InstanceEndEditable -->  

 <!-- =bottom -->
  <div class="bottom container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="title">Новости</div>
        <div class="box" style="height: 420px;">
          <%= image_tag 'new.jpg', class: "img-responsive" %>
          <% if @news %>
            <div class="title_red"><a href="#"><%=@news.title%></a></div>
             <p><%=raw (@news.text.slice(0, 300))%></p>
            <p class="date"><%=@news.created_at.to_s(:db)%></p>
          <%end%>
        </div>
        <a href="news" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">вопрос / ответ</div>
        <div class="box" style="height: 420px;">
         <% if @question %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question.answer%></p>
        <%end%>
         <% if @question1 %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question1.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question1.answer%></p>
        <%end%>
        </div>
        <a href="questions" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">Отзывы</div>
        <div class="box" style="height: 420px;">
         <% if @feedback %> 
          <div class="title_red"><%=@feedback.name%></div>
          <p><%=@feedback.feedback%></p>
          <div class="date"><%=@feedback.created_at.to_s(:db)%></div>
          <%end%>
          <% if @feedback1 %> 
          <div class="title_red"><%=@feedback1.name%></div>
          <p><%=@feedback1.feedback%></p>
          <div class="date"><%=@feedback1.created_at.to_s(:db)%></div>
          <%end%>
        </div>
        <a href="feedbacks" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
    </div>
  </div>
  <!-- =/bottom -->
</div>
  </div>
  <%= render 'footer' %>