<%= render 'header' %>
<section class="HeroSection">
  <div class="container">
    <div class="row">
      <div id="owl-example" class="owl-carousel">
        <div> <!-- owl item -->
          <div class="col-md-12 text-center HeroTitle">
            <p>Уникальные студенческие работы: <br class="hidden-xs hidden-sm"/>
              Контрольные, Курсовые, дипломные и другое</p>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="col-md-12 leftSlide">
              <h3>С 1 декабря по 1 февраля:<br class="hidden-xs" />
               скидки 15% всем новым клиентам в честь 10 –ти летия

компании.</h3>
              <p>Также командой Редстудент разработана уникальная для России система скидок : при заказе 

одновременно 2-х любых работ Вы получаете скидку 20%, при заказе 3-х работ – 25%, 5-ти работ – 

30% на каждую работу.

Редстудент, прояви инициативу – чем больше друзей, тем больше экономия!</p>
              <button type="submit">Узнать подробрности об акции</button>
            </div>
          </div>
          <div class="col-md-6 rightside">
            <%= render 'welcome/form' %>
          </div>
        </div>
        <!-- owl item -->
       
      </div>
    </div>
  </div>
</section>
<section class="CoastSection">
  <div class="container">
    <div class="col-md-12 text-center HeroTitle">
      <p>Услуги и цены</p>
    </div>
    <table class=" MyTable table">
      <div class="headTab">
        <thead>
          <tr>
            <th class="LHEAD"><span class="oneTh">Типы работ</span></th>
            <th class="MHEAD text-right">Сроки</th>
            <th class="MHEAD text-right">Стоимость, руб.</th>
            <th class="RHEAD text-right">Заказать</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <tr>
          <th scope="row"><span class="oneTh">Дисертация</span></th>
          <td class="text-center">от 10 дней </td>
          <td class="text-center">от 9 000 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
        <tr>
          <th scope="row"><span class="oneTh">Дипломная работа</span></th>
          <td class="text-center">от 5 дней</td>
          <td class="text-center">от 6 000 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
        <tr>
          <th scope="row"><span class="oneTh">Курсовая работа</span></th>
          <td class="text-center">от 2 дней</td>
          <td class="text-center">от 1 200 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
        <tr>
          <th scope="row"><span class="oneTh">Контрольная работа</span></th>
          <td class="text-center">от 1 дней</td>
          <td class="text-center">от 100 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
        <tr>
          <th scope="row"><span class="oneTh">Реферат</span></th>
          <td class="text-center">от 1 дней</td>
          <td class="text-center">от 500 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
        <tr>
          <th scope="row"><span class="oneTh">Другие работы</span></th>
          <td class="text-center">от 1 дней</td>
          <td class="text-center">от 100 руб.</td>
          <td class="text-center"><%= image_tag "basket.png" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="WeAreTheBest">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center HeroTitle">
        <p>Преимущества</p>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Личное общение с автором</h3>
            <p class="figExcerpt">Общение с автором работы происходит в режиме online .</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Экспресс работа</h3>
            <p class="figExcerpt">Возможность написания работ в сжатые сроки</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Отличные цены</h3>
            <p class="figExcerpt">цена < качество! мы предлагаем Вам оплату по частям после Вашего знакомства с работой.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Высокое качество</h3>
            <p class="figExcerpt">Все работы пишут преподаватели Вузов</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Антиплагиат</h3>
            <p class="figExcerpt">Каждая работа проходит строгий  контроль на уникальность.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4 text-center">
        <figure>
          <%= image_tag "forma.png" %>
          <figcaption>
            <h3 class="figTitle ">Бесплатная доработка</h3>
            <p class="figExcerpt">На каждую работу предоставляется гарантия</p>
          </figcaption>
        </figure>
      </div>
      <form method="post" action="index.html" name="insertForm2" enctype="multipart/form-data">
        <div class="formParth">
          <div id="txt6" ></div>
          <select class="oneItem" id="tipRaboty2" name="tipRaboty2" onChange="win_close2()" >
            <option data-display="Выберите тип работы"></option>
            <option value="1">Дипломная работа</option>
            <option value="2">Диссертация кандидатская</option>
            <option value="3">Диссертация магистерская</option>
            <option value="4">Курсовая работа</option>
            <option value="5">Контрольная работа</option>
            <option value="6">Реферат</option>
            <option value="7">Научная работа</option>
            <option value="8">Отчет по практике</option>
            <option value="9">Презентация</option>
            <option value="10">Чертежи </option>
            <option value="11">Эссе</option>
            <option value="12">Семестровая работа</option>
            <option value="13">Доклад</option>
            <option value="14">Отчет по практике</option>
            <option value="15">Экзаменационные вопросы</option>
            <option value="16">Перевод текста</option>
            <option value="17">Проверка качества</option>
            <option value="18">Доработка</option>
          </select>
          <input type="text" class="form-control oneItem mobile-phone" placeholder="Телефон">
          <input type="button" class="RedBTN MySend" onClick=validate_form2() value="Отправить заявку" />
        </div>
      </form>
    </div>
  </div>
</section>
<section class="NewsFaq">
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <div class="NewsFaqTitle">Новости</div>
        <div class="NewsPic"><%= image_tag 'newsPost.png', class: "img-responsive" %></div>
        <div class="subtitle"><%=@news.title%></div>
        <div class="NewsFaqExcerpt"><%=@news.text%></div>
        <div class="TheDate"><%=@news.created_at.to_s(:db)%></div>
        <div class="ttt">
          <a href="/news" class="details">
            <p class="detailsBtn">Все новости</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="NewsFaqTitle">Чаво</div>
        <div class="subtitle">Вопрос</div>
        <div class="NewsFaqExcerpt"><%=@question.question%></div>
        <div class="subColor">Ответ</div>
        <div class="NewsFaqExcerpt"><%=@question.answer%></div>
        <div class="ttt">
          <a href="/questions" class="details">
            <p class="detailsBtn">Все вопросы и ответы</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="NewsFaqTitle">Отзывы</div>
        <div class="subtitle"><%=@feedback.name%></div>
        <div class="NewsFaqExcerpt"><%=@feedback.feedback%></div>
        <div class="TheDate"><%=@feedback.created_at.to_s(:db)%></div>
        <div class="ttt">
          <a href="/feedbacks" class="details">
            <p class="detailsBtn">Все отзывы</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'footer' %>
