<% content_for :head do %>
  <script type="text/javascript">
    <%= raw render "events_sub" %>
  </script>
<% end %>
<%= render "dashboard/#{current_user.role.downcase}/header" %>
<p id="notice"><%= notice %></p>
<h1 style ="text-align: center">События</h1>
<table class="table table-hover" id="events">
  <thead>
    <tr class="info">
      <th>id</th>
      <th>Описание</th>
      <th>Дата и время</th>
      <th colspan="2">Ссылка</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <% if event.status %>
          <% if event.event_type == "оповещение" %>
            <td><p class = "text-muted"><%= event.id %></p></td>
            <td><p class = "text-muted"><%= "Сегодня дедлайн у данного заказа" %></p></td>
            <td><p class = "text-muted"><%= event.created_at.to_s(:db) %></p></td>
          <% else %>
            <td><p class = "text-muted"><%= event.id %></p></td>
            <td><p class = "text-muted"><%= "Пользователь #{event.user.name if event.user} оставил #{event.event_type} \"#{event.content}\" " %></p></td>
            <td><p class = "text-muted"><%= event.created_at.to_s(:db) %></p></td>
          <% end %>
        <% else %>
          <% if event.event_type == "оповещение" %>
            <td><p><%= event.id %></p></td>
            <td><p><%= "Сегодня дедлайн у данного заказа" %></p></td>
            <td><p><%= event.created_at.to_s(:db) %></p></td>
          <% else %>
            <td><p><%= event.id %></p></td>
            <td><p><%= "Пользователь #{event.user.name if event.user} оставил #{event.event_type} \"#{event.content}\" " %></p></td>
            <td><p><%= event.created_at.to_s(:db) %></p></td>
          <% end %>
        <% end %>
        <td>
          <%= link_to "Посмотреть", event %><br/>
          <span aria-hidden="true">
            <%= link_to "", event, method: :delete, data: { confirm: 'Вы уверены' }, class: "glyphicon glyphicon-remove"  %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
