<% content_for :head do %>
<title><%= @ne.title%></title>
<meta name ="<%= @ne.description%>">
<%end%>
<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'welcome/header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
 <div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>


  <!-- =/floatcontacts -->
  <div class="main">
    <div class="container">
      <div class="news">
        <h1>НОВОСТИ</h1>
       
        <div class="list row">
        <% @newss.each do |news| %>
          <article>
            <div class="col-md-4 col-sm-5 col-xs-12">
             <%= image_tag news.image.url(:medium) %>
            </div>
            <div class="description col-md-8 col-sm-7 col-xs-12">
              <h3><a href="#"><%=news.title%></a></h3>
              <div class="text">
              <p><%=news.text.slice(0, 1000)%></p>
                <div class="moretext">
                  <p> <%=news.text.slice(1000, news.text.length)%><p/>
              </div>
              </div>
              <div class="meta">
                <time datetime="22.10.2015"><%=news.date%></time>
                <a href="#" class="readmore">Читать полностью</a>
              </div>
            </div>
          </article>
           <% if current_user %>
        <% if "Admin".include? current_user.role %>
          <%= link_to 'Изменить', edit_news_path(news) %>
          <%= link_to 'Удалить',  news, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <%end%>
      <%end%>
        <%end%>
        </div>
     <%= will_paginate @newss, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<br>
<% if current_user %>
 <% if "Admin".include? current_user.role %>
  <%= link_to 'Добавить', new_news_path %>
 <%end%>
<%end%>
      </div>
    </div>
  </div>
    <!-- InstanceEndEditable -->  

</div>


 <%= render 'footer' %>




 



    





