<% display_attributes = [:worktype, :worktype_other, :speciality, :speciality_other, 
  :institution, :theme, :uniqueness, :comment, :deadline, :page_number] %>
<table class="table table-hover table-striped">
  <% display_attributes.each do |attr| %>
    <tr>
      <% unless @order.send(attr).to_s.empty? %>
        <td><%= t "activerecord.attributes.order.#{attr}" %></td>
        <td><%= @order.send(attr).to_s %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
      <td>
      Подспециальность
      </td>
      <td>
      <%=Subspeciality.find(@order.subspeciality_id).subspeciality if @order.subspeciality_id%>
      </td>
  </tr>
  <% if @order.document? %>
    <tr>
      <td><%= t "activerecord.attributes.order.document" %></td>
      <td><%= link_to @order.document_file_name, @order.document.url  %></td>
    </tr>
  <% end %>
</table>
<% if can? :manage, @order %>
  <%= render "manage_links" %>
<% end %>
