<table class="table table-hover">
  <tr class="info">
    <th>Номер заказа</th>
    <th>Наименование</th>
    <th>Статус</th>
    <% if can? :manage, Order %>
      <th>Дата оформления</th>
      <th>Дата информирования</th>
    <% end %>
    <% if can? :update, Order %>
      <th></th>
    <% end %>
  </tr>
  <% @orders.each do |order| %>
    <tr <%= 'class=new-item' if order.moderation? %>>
      <td><%= link_to order.id, order %></td>
      <td><%= link_to order.theme, order %></td>
      <td>
        <%="завершен" if order.status=="finished" %>
        <%="модерация" if order.status=="moderation" %>
        <%="подтвержден" if order.status=="approved" %>
        <%="поиск исполниеля" if order.status=="employee_searching" %>
        <%="ожидает предоплаты" if order.status=="prepayment_waiting" %>
        <%="в работе" if order.status=="in_work" %>
        <%="решен" if order.status=="solved" %>
      </td>
      <% if can? :manage, Order %>
        <td><%= order.created_at.strftime("%d.%m.%Y %H:%M") if order.created_at %></td>
        <td><%= order.inform_date.strftime("%d.%m.%Y %H:%M") if order.inform_date %></td>
      <% end %>
      <% if can? :update, order %>
        <td>
          <%= link_to '', edit_order_path(order), class: 'glyphicon glyphicon-edit', title: 'Редактровать' %>
          <% if can? :manage, order %>
            <%= link_to '', order_path(order), method: :delete, class: 'glyphicon glyphicon-remove', title: 'Удалить', data: { confirm: "Вы уверены?"} %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
