<div class="outerwrapper">
<%= render 'welcome/header' %>

	<!-- =floatcontacts -->
	<div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
	<!-- =/floatcontacts -->
	
	<!-- InstanceBeginEditable name="EditRegion3" -->
    
	<div class="main">
		<div class="container">
			<div class="static">
				<h1>Авторам</h1>
        <div>Приглашаем к сотрудничеству преподавателей Высших учебных заведений . 

Компания Редстудент сотрудничает с более 4000 специалистами в разных областях. Более 50% 

преподавателей имеют научную степень. Каждый наш преподаватель получает стабильные 

заказы и имеет возможность выбирать наиболее подходящую работу для себя. Более 10 лет 

Редстудент достойно оплачивает труд авторов, которые добросовестно выполняют свою работу.

Работать с Редстудент удобно и легко. Современные технологии в работе позволяют авторам, 

менеджерам и клиентам общаться через чат. Новые заказы приходят в Ваш личный кабинет, что 

упрощает наше сотрудничество. 

Если  Вы подходите под наши требования, и у Вас есть свободное время для получения 

дополнительного дохода – пишите нам на почту             или звоните по телефону <b>+7 (800) 775-76-81</b>
</div>
			</div>
		</div>
	</div>

	<div class="line"></div>

<!-- =bottom -->
  <div class="bottom container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="title">Новости</div>
        <div class="box">
          <%= image_tag 'new.jpg', class: "img-responsive" %>
          <% if @news %>
            <div class="title_red"><a href="#"><%=@news.title%></a></div>
                       <p><%=@news.text.slice(0, 300)%></p>
            <p class="date"><%=@news.created_at.to_s(:db)%></p>
          <%end%>
        </div>
        <a href="news" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">вопрос / ответ</div>
        <div class="box">
         <% if @question %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question.answer%></p>
        <%end%>
        </div>
        <a href="questions" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">Отзывы</div>
        <div class="box">
         <% if @feedback %> 
          <div class="title_red"><%=@feedback.name%></div>
          <p><%=@feedback.feedback%></p>
          <div class="date"><%=@feedback.created_at.to_s(:db)%></div>
          <%end%>
        </div>
        <a href="feedbacks" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
    </div>
  </div>
  <!-- =/bottom -->
</div>

<%= render 'welcome/footer' %>