<% content_for :head do %>
<title><%= @g.title%></title>
<meta name ="<%= @g.description%>">
<%end%>
<div class="outerwrapper">
<div class="outerwrapper">
	<!-- =header -->
<%= render 'welcome/header' %>

	<!-- =/header -->

	<!-- =floatcontacts -->
	<div class="floatcontacts container">
    <div>
      <a href="tel:+375291111111" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
	<!-- =/floatcontacts -->
	
	<!-- InstanceBeginEditable name="EditRegion3" -->
    
<div class="main">
		<div class="container">
			<div class="static">
				<h1>Гарантии</h1>
				<div class="intro">
					<p>Гарантия качества: Оформляя заказ на выполнение работы на нашем сайте, вы можете 

быть уверены: сумма, в которую оценен заказ, не увеличится даже в том случае, если 

автор будет вносить поправки и дорабатывать ее. Мы с вами до победной сдачи!</p>
				</div>
				
				<div class="intro">
					<p>Гарантия тайны заказчика: личная информация, предоставленная заказчиком, 

конфиденциальна, к ней не имеет доступа никто из третьих лиц.</p>
				</div>
			
				<div class="intro">
					<p>Гарантия уникальности: каждая работа написана для своего заказчика и нигде не 

повторяется. Мы – за честные победы!</p>
				</div>
				
				<div class="intro">
					<p>Гарантия двусторонней связи: техническая поддержка работает на сайте 

круглосуточно, вы всегда можете задать интересующие вас вопросы и получить 

исчерпывающие ответы. Мы с вами, вы – с нами, и вместе мы свернем гранитные горы 

любой науки.</p>
				</div>

				

			</div>
		</div>
	</div>

	<div class="line"></div>

<!-- =bottom -->
  <div class="bottom container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="title">Новости</div>
        <div class="box">
          <%= image_tag 'new.jpg', class: "img-responsive" %>
          <% if @news %>
            <div class="title_red"><a href="#"><%=@news.title%></a></div>
                       <p><%=@news.text.slice(0, 300)%></p>
            <p class="date"><%=@news.created_at.to_s(:db)%></p>
          <%end%>
        </div>
        <a href="news" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">вопрос / ответ</div>
        <div class="box">
         <% if @question %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question.answer%></p>
        <%end%>
        </div>
        <a href="questions" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">Отзывы</div>
        <div class="box">
         <% if @feedback %> 
          <div class="title_red"><%=@feedback.name%></div>
          <p><%=@feedback.feedback%></p>
          <div class="date"><%=@feedback.created_at.to_s(:db)%></div>
          <%end%>
        </div>
        <a href="feedbacks" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
    </div>
  </div>
  <!-- =/bottom -->
</div>

<%= render 'welcome/footer' %>