<div class="outerwrapper">
<%= render 'welcome/header' %>
 <div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>
   <div class="main">
<section class="HeroSection SmallPageSection">
  <div class="container">
    <div class="my-block">
      <p id="notice"><%= notice %></p>
      <h1 style="text-align: left">Вход</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-xs-6">
           <div class="form-group">
            <%= f.label :email, class: 'control-label' %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail' %>
          </div>
      
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Пароль' %>
          </div>
      
        <% if devise_mapping.rememberable? -%>
      
            <div class="checkbox form-group">
              <%= f.check_box :remember_me, style: "margin-left: 1px" %>
              <%= f.label :remember_me %>
            </div>
  
        <% end %>
          <div class="form-group">
            <%= f.button "Вход", class: 'btn btn-primary' %>
          </div>
      <% end %>
      <br>
      <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</section>
</div>
</div>
<%= render 'welcome/footer' %>
