<table class="table">
  <thead>
    <tr>
      <th>Пользователь</th>
      <th>Сумма</th>
      <th>Дата выставления</th>
      <th>Заказ</th>
      <th>Статус</th>
      <th>Чек</th>
      <th>Действие</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.client.name if payment.client %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.created_at %></td>
        <td><%= link_to payment.order.id, payment.order if payment.order %></td>
        <td><%= payment.status %></td>
        <td><%= link_to 'Чек', payment.check.url, target: '_blank' if payment.check_file_name %></td>
        <td>
          <% if payment.модерация? and payment.check_file_name %>
            <%= link_to 'Одобрить', approve_payment_path(payment) %>
            <%= link_to 'Отклонить', deny_payment_path(payment) %>
          <% end %>
        </td>
        <td><%= payment.client.email if payment.client %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @payments, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
