<%= render "dashboard/#{current_user.role.downcase}/header" %>
<h3>Счет №<%= @payment.id %></h3>
<% if @payment.ожидает? %>
  <h4>Оплата в банке</h4>
  <p><strong>Сумма: </strong><%= @payment.amount %></p>
  <p><strong>Реквизиты для оплаты: </strong>
<% if @text %>
  <%= raw @text%>
<%end%>
  <p>Если вы оплатили, можете загрузить фотографию чека:</p>
  <%= form_for @payment, url: upload_check_payment_path(@payment), html: { class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.file_field :check %>
    </div>
    <div class="form-group">
    <%= f.button 'Загрузить', class: "btn btn-primary" %>
    </div>
    </br>
    </br>
    <div class="form-group">
    <p>Или оплатить через paymaster</p>
    </div>
    <div style="margin-left:75px;" class="form-group">
    <a target="_blank" class="btn btn-primary" href="https://paymaster.ru/Payment/Init?LMI_MERCHANT_ID=d2445484-8d40-4603-b43f-76d49c5a755a&LMI_PAYMENT_NO=<%=@payment.id%>&LMI_SIM_MODE=0&LMI_SUCCESS_URL=https%3A%2F%2Fadbbacd7.ngrok.io%2Fpayments%2F<%=@payment.id%>%2Fpay&LMI_PAYMENT_AMOUNT=<%=@payment.amount%>&LMI_CURRENCY=RUB&LMI_PAYMENT_DESC=good">Оплатить</a>
    </div>
  <% end %>
 
  <!--
  <h4>Оплата через PayMaster</h4>
  <p>Paymaster принимает Visa, Mastercard, Webmonry</p>
  <% link_to 'Оплатить', @payment.paymaster_link %> -->
<% elsif @payment.модерация? %>
  <p>
    Ваш платеж проверяется
  </p>
  <% if @payment.check_file_name %>
    Загруженный чек: <%= link_to @payment.check_file_name, @payment.check.url, target: '_blank'  %>
  <% end %>
<% elsif @payment.подтвержден? %>
  <p><strong>Статус: </strong><%= @payment.status %></p>
  <p><strong>Дата выставления: </strong><%= @payment.created_at %></p>
  <p><strong>Дата оплаты: </strong><%= @payment.sys_date %></p>
<% elsif @payment.отклонен? %>
  <p>Платеж отклонен</p>
<% end %>

