<div class="outerwrapper">
	<!-- =header -->
<%= render 'welcome/header' %>

	<!-- =/header -->

	<!-- =floatcontacts -->
	<div class="floatcontacts container">
		<div>
			<a href="tel:+375291111111" class="tel"><span>+375 (29)</span> 111 11 11</a>
			<p class="skype">skype: <a href="skype:RedStudent" class="skype_link">RedStudent</a></p>
		</div>		
	</div>
	<!-- =/floatcontacts -->
	
	<!-- InstanceBeginEditable name="EditRegion3" -->
    
	<div class="main">
		<div class="container">
			<div class="list_steps">
				<h1>Как оформить заказ</h1>
				<div class="list_steps__row row">
					<div class="col-sm-2 col-xs-12">
						<div class="item">
						<%= image_tag "step1.gif" %>
						
						</div>
					</div>
					<div class="col-sm-10 col-xs-12">
						<p class="title"><span>ШАГ 1</span>   Оформляем заказ</p>
						<div class="text">
							<p>Оформить заказ на работу Вы можете несколькими способами:</p>
							<ul>
								<li>- по телефону горячей линии 8-800-100-77-07;</li>
								<li>- в одном из наших офисов (в Москве или Санкт-Петербурге);</li>
								<li>- через <a href="#" title="">форму заказа работы</a> на нашем сайте (укажите максимально полную информацию о работе).</li>
							</ul>
							<p>Менеджер свяжется с Вами в течение 2 часов (в рабочие дни), уточнит у Вас детали заказа и сообщит стоимость работы.</p>
						</div>
					</div>
				</div>
				<div class="list_steps__row row">
					<div class="col-sm-2 col-xs-12">
						<div class="item">
							<%= image_tag "step2.gif" %>
						</div>
					</div>
					<div class="col-sm-10 col-xs-12">
						<p class="title"><span>ШАГ 2</span Вносим предоплату</p>
						<div class="text">
							<p>Для того, чтобы Ваш заказ был отправлен в работу, внесите оплату. Реквизиты Вы найдете в разделе <a href="#" title="">Способы оплаты</a>.</p>
						</div>
					</div>
				</div>
				<div class="list_steps__row row">
					<div class="col-sm-2 col-xs-12">
						<div class="item">
							<%= image_tag "step3.gif" %>
						</div>
					</div>
					<div class="col-sm-10 col-xs-12">
						<p class="title"><span>ШАГ 3</span> Выполнение работы</p>
						<div class="text">
							<p>После внесения предоплаты, мы приступаем к выполнению Вашей работы. В любой момент Вы можете узнать статус своего заказа, зайдя в «<a href="#" title="">Личный кабинет</a>» на нашем сайте либо связавшись с Вашим менеджером.</p>
						</div>
					</div>
				</div>
				<div class="list_steps__row row">
					<div class="col-sm-2 col-xs-12">
						<div class="item">
							<%= image_tag "step1.gif" %>
						</div>
					</div>
					<div class="col-sm-10 col-xs-12">
						<p class="title"><span>ШАГ 4</span> Получаем заказ</p>
						<div class="text">
							<p>После того, как менеджер уведомит Вас о готовности работы, Вы оплачиваете остальную сумму договора и получаете заказ одним из наиболее подходящих Вам способов:</p> <br>
							<ul>
								<li>- Мы высылаем Вам работу на адрес электронной почты;</li>
								<li>- Вы сами забираете готовую работу в нашем офисе. По Вашему желанию мы можем абсолютно бесплатно распечатать работу или записать ее на CD;</li>
								<li>- Наш курьер доставляет Вам работу.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
   		</div>
    </div>

    <div class="line"></div>
    <!-- InstanceEndEditable -->	

<!-- =bottom -->
  <div class="bottom container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="title">Новости</div>
        <div class="box">
          <%= image_tag 'new.jpg', class: "img-responsive" %>
          <% if @news %>
            <div class="title_red"><a href="#"><%=@news.title%></a></div>
                       <p><%=@news.text.slice(0, 300)%></p>
            <p class="date"><%=@news.created_at.to_s(:db)%></p>
          <%end%>
        </div>
        <a href="news" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">вопрос / ответ</div>
        <div class="box">
         <% if @question %>  
          <div class="title_red">Вопрос:</div>
          <p><%=@question.question%></p>
          <div class="title_green">Ответ: </div>
          <p><%=@question.answer%></p>
        <%end%>
        </div>
        <a href="questions" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="title">Отзывы</div>
        <div class="box">
         <% if @feedback %> 
          <div class="title_red"><%=@feedback.name%></div>
          <p><%=@feedback.feedback%></p>
          <div class="date"><%=@feedback.created_at.to_s(:db)%></div>
          <%end%>
        </div>
        <a href="feedbacks" class="btn btn_green pull-right">Перейти к разделу</a>
      </div>
    </div>
  </div>
  <!-- =/bottom -->
</div>

<!-- =footer -->
<%= render 'welcome/footer' %>