<% content_for :head do %>
<title><%= @feed.title%></title>
<meta name ="<%= @feed.description%>">
<%end%>
<div class="outerwrapper">
  <!-- =header -->
  
  <%= render 'welcome/header' %>
  <!-- =/header -->
  <!-- =floatcontacts -->
  <div class="floatcontacts container">
    <div>
      <a href="tel:+78007757681" class="tel"><span>+7 (800) </span>775-76-81</a>
      <p class="skype"> Звонок бесплатный</p>
    </div>    
  </div>

  <div class="main">
    <div class="container">
      <h1>ОТЗЫВЫ</h1>
      <div class="reviewList">
      <% @feedbacks.each do |feedback| %>
        <div class="item">
          <h3><%=feedback.name%></h3>
          <p><%=feedback.feedback%></p>
          <time datetime="2015-10-22"><%=feedback.date%></time>
        <% if current_user %>
        <% if "Admin".include? current_user.role %>
          <%= link_to 'Изменить', edit_feedback_path(feedback) %>
          <%= link_to 'Удалить', feedback, method: :delete, data: { confirm: 'Вы уверены?' } %>
        <%end%>
      <%end%>
        </div>
      <%end%>
      </div>
    <%= will_paginate @feedbacks, previous_label: "&laquo;", next_label: "&raquo;", renderer: BootstrapPagination::Rails %>
<br>
<% if current_user %>
 <% if "Admin".include? current_user.role %>
  <%= link_to 'Добавить', new_feedback_path %>
 <%end%>
<%end%>
    </div>
  </div>

  </div>
  <!-- =/floatcontacts -->
 <%= render 'welcome/footer' %>



