<% if material.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>
    <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for material do |f| %>
  <div class="well">
    <div class="form-group">
      <%= render partial: 'materials/attachment', locals: { material: material } %>
      <%= f.label 'Выберите файл', class: 'control-label' %>
      <%= f.file_field :document %>
    </div>
    <% if material.id %>
      <div class="form-group">
        <% if can? :manage, material %>
          <div class="row">
            <div class="col-xs-5">
              <%= f.label 'Статус', class: 'control-label' %>
            </div>
            <div class="col-xs-7">
              <%= f.select :status, [[t(:moderation), :moderation], [t(:approved), :approved], [t(:denied), :denied]], { selected: material.status }, { class: 'form-control' } %>
            </div>
          </div>
        <% end %>
      </div>
      <% if can? :delete, material %>
        <div>
          <%= link_to 'Удалить файл', material, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
        <div style="margin-top:5px;">
          <%= button_to 'Обновить файл', '/materials', method: :patch, class: 'btn btn-primary btn-block' %>
        </div>
    <% else %>
      <%= f.hidden_field :order_id, value: @order.id %>
      <div>
        <%= f.submit 'Добавить файл', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>

  </div>
<% end %>

