<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    'welcome', media: 'all' %>
    <%= javascript_include_tag 'welcome' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
